/*header*/
span.error{
	color: #FC0 !important;
    left: 6px;
    position: relative;
    top: -4px;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fuentes/ProximaNova-light.otf) format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fuentes/ProximaNova-Black.otf) format("truetype");
    font-weight: black;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fuentes/ProximaNova-Regular.otf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fuentes/ProximaNova-Bold.otf) format("truetype");
    font-weight: bold;
}

.fondo_temp{
  background: url("../img/Foto-principal.png") no-repeat center bottom;
  height: 576px;
}

.menu_superior ul{
  list-style-type: disc;
  position: relative;
  padding-left: 38px;
  padding-top:  63px;
  margin-left:  0;
  margin: 0px;
}

.menu_superior ul li a{
  text-decoration: none;
  color: #4E4E4E;
  font-size: 15px;
}

.menu_superior ul li a:hover{
  text-decoration: underline;
}

.menu_superior ul li{
  font-family: 'Proxima Nova';
  list-style-type: none;
  font-weight: normal;
  color: #4E4E4E;
  float:left;
  margin-left: 8px;
}

.menu_superior ul li span{
  padding-left: 4px;
  color: #959595;
  font-size: 18px;
}


body{
  margin: 0px;
  padding: 0px;
  font-family: 'Proxima Nova';
}

.logo{

}

.black{
  margin-right: 8px;
  font-family: 'Proxima Nova' !important;
  font-weight: lighter; !important;
  font-size: 17px;
  color: #FFFFFF;
  padding: 8px 15px;
  text-decoration: none;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
  background-color: #000000; 
  -webkit-box-shadow: -1px 0 2px rgba(205,201,195,.25), inset -1px 0 1px rgba(255,255,255,.65); 
  -moz-box-shadow: -1px 0 2px rgba(205,201,195,.25), inset -1px 0 1px rgba(255,255,255,.65); 
  box-shadow: -1px 0 2px rgba(205,201,195,.25), inset -1px 0 1px rgba(255,255,255,.65);
  /*border: solid 1px #00509c;*/
  background-image: -webkit-linear-gradient(bottom, #000, #323232);
  background-image: -moz-linear-gradient(bottom, #000, #323232);
  background-image: -o-linear-gradient(bottom, #000, #323232);
  background-image: -ms-linear-gradient(bottom, #000, #323232);
  background-image: linear-gradient(bottom, #000, #323232);
}

a.black:hover{
  background-color: #323232;
  background-image: -webkit-linear-gradient(bottom, #323232, #000);
  background-image: -moz-linear-gradient(bottom, #323232, #000);
  background-image: -o-linear-gradient(bottom, #323232, #000);
  background-image: -ms-linear-gradient(bottom, #323232, #000);
  background-image: linear-gradient(bottom, #323232, #000);
}

.blue {
  font-family: 'Proxima Nova' !important;
  font-weight: lighter !important;
  font-size: 17px;
  color: #FFFFFF;
  padding: 8px 15px;
  text-decoration: none;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
  background-color: #006cd0; 
  -webkit-box-shadow: -1px 0 2px rgba(205,201,195,.25), inset -1px 0 1px rgba(255,255,255,.65); 
  -moz-box-shadow: -1px 0 2px rgba(205,201,195,.25), inset -1px 0 1px rgba(255,255,255,.65); 
  box-shadow: -1px 0 2px rgba(205,201,195,.25), inset -1px 0 1px rgba(255,255,255,.65); border: solid 1px #00509c;
  background-image: -webkit-linear-gradient(bottom, #006cd0, #009bdc); 
  background-image: -moz-linear-gradient(bottom, #006cd0, #009bdc); 
  background-image: -o-linear-gradient(bottom, #006cd0, #009bdc); 
  background-image: -ms-linear-gradient(bottom, #006cd0, #009bdc); solid 
  background-image: linear-gradient(to top, #006cd0, #009bdc);
}

a.blue:hover{
  background-color: #009bdc;
  background-image: -webkit-linear-gradient(bottom, #009bdc, #006cd0); 
  background-image: -moz-linear-gradient(bottom, #009bdc, #006cd0); 
  background-image: -o-linear-gradient(bottom, #009bdc, #006cd0); 
  background-image: -ms-linear-gradient(bottom, #009bdc, #006cd0); solid 
  background-image: linear-gradient(to top, #009bdc, #006cd0); 
}

.blue span{
  height: 18px;
  display: inline-block;
  font-size: 17px;
  border-left: 1px solid #00509c;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 6px; 
}

.blue .logo-fb{
  padding: 3px 14px 6px 2px;
  position: relative;
  top: 9px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #95aec1;
}

.slogan{
  font-family: 'Proxima Nova';
  font-size: 28px;
  width: 650px;
}

header{
  margin-bottom: 59px;
  margin-top: 48px;
}

.slogan h1{
  font-weight: lighter;
  margin-top: 30px;
} 

.logo h1 a{
  text-indent: -9999px;
  background: #FFFFFF url("../img/logo-negro.png") no-repeat ;
  margin-top: 30px; 
  height: 75px;
  display: block;
  width: 169px;
}

/*cuerpo*/
.backg_gray{
  background-color: #f5f5f5;
}

.padding_top{
  padding-top: 35px;
}

.padding_bottom{
  padding-bottom: 50px;
}

.dots{
  font-family: 'Times New Roman';
  font-size: 25px;
  letter-spacing: 3px;
  color: #959595;
  font-weight: bold;
}
.center{
  text-align: center;
}

.backg_black{
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 35px;
}

.backg_black .dots{
  color: #FFFFFF;
}

.backg_black.padding_top{
  padding-top: 85px;
}

h1.contact{
  font-family: 'Proxima Nova';
  font-size: 49px;
  font-weight: lighter;
}

form.contact input, form.contact select, textarea{
  font-family: 'Proxima Nova';
  font-weight: lighter;
  font-size: 14px;
/*  color: #000000;*/
  /*font-size: 16px;
  color: #B2B1B1;
  font-weight: normal;*/
  padding: 8px 15px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
  background-color: #fff;
  border:none;
/*  display: inline;*/
}

form.contact input,textarea{
  display: block;
}

form.contact select{
  display: inline;
}


.contact select{
  font-size: 14px !important;
  height: 37px;
}

#tel{
  margin-left: 2px;
}

#tel, #nombre{
  width: 196px;
  font-family: 'Proxima Nova';
  font-weight: lighter;
}

#email, #msj{
  margin-top: 10px;
  width: 428px;
}

#list{
  color: #000000 !important;
  /*margin-top: 17px;*/
  margin-top: -2px;
  width: 305px;
}

form.contact label{
  font-family: 'Proxima Nova';
  font-weight: lighter;
  font-size: 16px;
  margin-right: 9px;
}

.contact{
  position: relative;
}

#msj{
  height: 190px;
}

.btn{
  color: #202020 !important;
  /*margin-top: 17px;*/
  margin-top: -3px;
  float: right;
  width: 140px;
  font-size: 16px !important;
  /*font-weight: bold !important;*/
}

.btn:hover{
  color: #707070 !important;
}

/*sprites_inicio*/

.phone, .star, .subir, span.email, .home, .subir{
  background: url("../img/sprites.png") no-repeat;
}

.subir{
  color: #4E4E4E;
  font-family: 'Proxima Nova';
  font-size: 13px;
  text-decoration: none;
  background-position: -65px 0;
  width: 46px;
  height: 46px;
  display: inline-block;
  padding-top: 1px;
  position:relative;
  /*top:-20px;
*/top:-400px;
}

.subir span{
  display: none;
  position: relative;
  top:4px;
  left: 1px;
}

.subir:hover{
  background-position: -65px -48px ;
  width: 46px;
  display: inline-block;
  height: 7px;
  padding-left: 5px;
  padding-top: 39px;
  top: -399px;
  /*top:19px;*/
}

.subir:hover span{
  display: inline;

}

.star{
  background-position: -4px -60px ;
  width: 23px;
  height: 30px;
  display: inline-block;
}

#star_right {
    margin-left: 13px;
}

#star_left {
    margin-right: 13px;
}

.phone{
  background-position: -30px 0;
  width: 29px;
  height: 29px;
  display: inline-block;
}

.home{
  background-position: 0 0;
  width: 29px;
  height: 29px;
  display: inline-block;
}

span.email{
  background-position: 0 -30px ;
  width: 29px;
  height: 29px;
  display: inline-block;  
}

#dir_mail{
  vertical-align: middle;
  text-decoration: none;
  color: #D3D3D3;
  position: relative;
  left:10px;
  top:-8px;
}

#dir_mail:hover{
  text-decoration: underline;
}

#dir_home{
  vertical-align: middle;
  color: #D3D3D3;
  position: relative;
  left:10px;
  top:-8px;
  width: 226px;
  display: inline-block;

}

#dir_home,#dir_mail{
  font-family: "Proxima Nova";
  font-weight: lighter;  
  font-size: 14px;
}

#btn_fb{
  margin-top: 3px;
  display: inline-block;
}

#btn_fb .blue{
  padding: 6px 15px;
}

#btn_fb .blue .logo-fb{
   padding: 0 14px 4px 2px;
   top:7px;
}

#btn_fb .blue span{
  font-size: 15px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-top: 2px;
}

.dir{
  margin-top: 10px;
}

#foot{
  margin-top: 25px;
  border-top: 1px #FFFFFF solid;
}

.logo2 h1 a{
  text-indent: -9999px;
  background: #000000 url("../img/logo-blanco.png") no-repeat ;
  /*margin-left: 221px; */
  margin-left: 20px;
  height: 70px;
  display: inline-block;
  width: 165px;
}

.logo2{
  display: inline-block;
}

.logo2 h1{
  margin-top: 35px;
}

.menu_inferior{
  display: inline-block;
  position: relative;
  top: 17px;
}

.menu_inferior ul{
  margin-left: -31px;

}

.menu_inferior ul li a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
}

.menu_inferior ul li a:hover{
  text-decoration: underline;
}

.menu_inferior ul li{
  font-family: 'Proxima Nova';
  list-style-type: none;
  /*font-weight: bold;*/
  color: #FFFFFF;
  float:left;
  margin-left: 8px;
}

.menu_inferior ul li span {
    font-size: 18px;
    padding-left: 4px;
}

.titulo{
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 0px;
  display: inline;
  font-family: "Proxima Nova";
}

.margin_top{
  margin-top: 25px;
}

.paragraph{
  font-family: 'Proxima Nova';
  font-weight: lighter;
  margin-bottom: 20px;
  color: #4E4E4E;
}

.align_left{
  text-align: left;
}

/*clase para la galeria de imagenes*/
.work-masonry-thumb{
  margin: 7px;
  float: left;
  border:none !important;
}



#slides ul{
  list-style: none;
  padding-left: 0px;
}

#slides li a,#slides2 li a,.slidesjs-previous.slidesjs-navigation,.slidesjs-next.slidesjs-navigation {  
  text-indent: -9999px;
  display: inline-block;
}

#slides li a,#slides2 li a{
  background: url('../img/bullet2.png') no-repeat;
  height:24px;
  width:27px;
}

#slides {
      display:none;
    }

#slides li a.active,#slides2 li a.active {background: url('../img/bullet1.png') no-repeat;}

#slides li,#slides2 li{
  display: inline-block;
}

.slidesjs-previous.slidesjs-navigation {
    left: 15px;
    position: absolute;
/*    top: 421px;*/
    top:454px;
    background: url('../img/Arrowblack2.png') no-repeat;
    height:53px;
    width:27px;
}

.slidesjs-next.slidesjs-navigation {
    /*left: 997px;*/
    left: 52px;
    position: absolute;
    /*top: 421px;*/
    top:186px;
    background: url('../img/Arrowblack.png') right center no-repeat;
    height:589px;/*
    height:53px;
    width:27px;*/
    width: 972px;
    z-index: 11;
}

#slides2 .slidesjs-next.slidesjs-navigation {
  top:136px;
  height: 300px;
}

#slides2 .slidesjs-previous.slidesjs-navigation{
  top:259px;
}


.slidesjs-control,.slidesjs-container{
  width: 940px !important;
  margin-right: auto;
  margin-left: auto;
}

.container_1040{
  position: relative;
  width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.photo_school_1{
  background: url("../img/maquillaje-profesional.png") no-repeat;
  width: 460px;
  height: 320px;
  /*height: 465px;*/
  position: relative;
}


.photo_school_2{
  background: url("../img/automaquillaje.png") no-repeat;
  width: 460px;
  height: 320px;
/*  height: 465px;*/
  position: relative;
}

.photo_school_1 .opacity_box, .photo_school_2 .opacity_box{
  background-color: #000000;
  opacity: 0.5;
  color:#000000;
}

.photo_school_1 .sharp_text, .photo_school_2 .sharp_text{
  color: #FFFFFF;
}

.photo_school_1 .sharp_text, .photo_school_2 .sharp_text, .photo_school_1 .opacity_box, .photo_school_2 .opacity_box{
  position: absolute;
  display: inline-block;
  top:240px;
  /*top: 367px;*/
  padding: 8px 17px;
  font-size: 26px;
  font-weight: lighter;
  font-family: 'Proxima Nova';
}
.photo_school_1 .sharp_text, .photo_school_1 .opacity_box{
 left:173px;
}

.margin_bottom{
  margin-bottom: 59px;
}

.list_maquillaje{
  margin-bottom: 30px;
  height: 195px;
}

.list_maquillaje ul{
  padding-left: 0px;
}

.list_maquillaje ul li{
  padding-bottom: 5px;
}

.list_maquillaje ul li.sin_vin{
  padding-left: 29px;
  list-style: none;
  line-height: 25px;
}

.list_maquillaje ul li.con_vin{
  list-style: none;
}

.con_vin span{
  font-size:20px;
  margin: 0px 12px;
}

.con_vin div{
    display: inline-block;
    vertical-align: text-top;
    width: 429px;
}

.con_vin strong, .con_vin span{
  font-weight: bold;
}

.link_to_fb{
  font-family: 'Proxima Nova';
  font-weight: lighter;
  text-align: right;
  color: #000000;
}

.link_to_fb a{
  color: #000000;
}

.link_to_fb a:hover{
  text-decoration:none;
}

.question{
  font-size: 20px;
  font-family: 'Proxima Nova';
  margin-left: 165px;
  margin-right: 11px;
}

.novias_contact{
  margin: 52px 10px !important;
}

.fancybox-next span{
  background-image: url('../img/Arrow1.png') !important;
  height: 54px !important;
  width: 30px !important;
  background-position: 0px 0px !important; 
  visibility: visible !important;

}

.fancybox-prev span{
  background-image: url('../img/Arrow2.png') !important;
  height: 54px !important;
  width: 30px !important;
  background-position: 0px 0px !important; 
  visibility: visible !important;
}

a.fancybox-nav.fancybox-prev{
  left:-75px !important;
  width: 17%;
}

a.fancybox-nav.fancybox-next{
  right:-75px !important;
  width: 121%;
}

a.slidesjs-slide img{
  border:0px !important;
}

/*Valid Val*/

input.invalid, textarea.invalid{
  box-shadow: 0 0 5px 1px red inset;
}

input.required.focus, textarea.required.focus, input.required.invalid, textarea.required.invalid{
  color:#000000 !important;
}

input.required.inactive, textarea.required.inactive{
  color:#A1A1A1 !important;
}

.design_develop{
  font-family: 'Proxima Nova';
  font-weight: lighter;
  color:#fff;
  display:inline-block;
  position: relative;
  top: 10px;
  left: 214px;
  font-size:10px;
}

.design_develop a{
  text-decoration: none;
  color: #fff;
}

.design_develop a:hover{
  /*text-decoration: underline;*/
}

span.logo_UX{
  background: transparent center center url("../img/pie-ux.jpg") no-repeat;
  display: inline-block;
  width: 104px;
  height: 24px;
  position: relative;
  top: 8px;
  left:5px;
}

#sended{
  color:#FFFFFF;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  display:inline-block !important;
  margin-top: 5px;
  margin-left: 5px;
}

#sended img{
  display: inline-block;
  width: 16px;
  height:16px;
  position: relative;
  top:5px;
  left:5px;
}

#send:disabled{
  color:#bbb !important;
  cursor: default;
}

#send{
  cursor: pointer;
}

.complete{
  display: none;
  font-size: 13px;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  position: absolute;

}

form#form_contacto div{
  display: inline-block;
}
form#form_contacto div span{
  color:#f00;
  /*color: #FFF;*/
  font-size: 13px;
  font-family: 'Proxima Nova';
  font-weight: lighter;
  display: none;
}

input, textarea, select{
  outline: none !important;
}


/* ultimos arreglos form*/

#form_contacto > div{
	margin-bottom: 10px;
}

.h_48{
	height: 48px;
}

.h_68{
	height: 68px;
}

.h_244{
	height: 244px;
}

/* IDENTIFICADORES PARA ELEMENTOS CON ESTILO EN LINEA*/

#IrArriba-content{
  display:none;
  margin-left:994px;
  margin-top: 70px
}

#IrArriba{
  position:fixed;
}

#h_48{
  vertical-align:middle;
}

#h_48_2{
  vertical-align:middle;  
}

#h_68{
  vertical-align:middle;    
}

#h_244{
  vertical-align: middle;
}

/* FIN IDENTIFICADORES*/